@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');


@import "tailwindcss";
@tailwind utilities;

:root {
  --app-font: "Chewy", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

body {
  font-family:  system-ui,  "Chewy";
}

.scrollbar-transparent::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

.scrollbar-transparent::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.067);
  border-radius: 10px;
}

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}


