@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');


@import "tailwindcss";
@tailwind utilities;

:root {
  --app-font: "Chewy", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

body {
  font-family:  system-ui,  "Chewy";
}

html {
  scroll-behavior: smooth;
}

.scrollbar-transparent::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

.scrollbar-transparent::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.067);
  border-radius: 10px;
}

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}


.particle {
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgba(0, 150, 255, 0.5);
  border-radius: 50%;
  filter: blur(3px);
  animation: floatUp 7s infinite ease-in-out;
}

@keyframes floatUp {
  0% {
    transform: translateY(20px) scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
    transform: translateY(-40px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-80px) scale(1.2);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}



@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}

.pause-animation {
  animation-play-state: paused;
}
